---
import * as fs from 'fs';
import * as yaml from 'js-yaml';

export async function getStaticPaths() {

  const fileContents = fs.readFileSync('/Users/kody/Desktop/test-api-docs/callous-chasm/schemas/test6.yml', 'utf8');
  const yamlData = yaml.load(fileContents);

  if (yamlData) {
    console.log('YAML Data:', yamlData);
  }
    
  let dataArray = [];
  let endpoint = "";

  for (const path of yamlData.paths) {
    endpoint = path;
    for (const operation of path ) {
      dataArray.push({
        "endpoint": endpoint,
        "operation": operation,
        "operationId": operation["operationId"],
        "tags": operation["tags"][0],
        "summary": operation["summary"],
        "description": operation["description"],
        "parameters": operation["parameters"],
        "responses": operation["responses"],
        "security": operation["security"],
      })
    }
  }

  return dataArray.map(({ endpoint, operation, operationId, tags, summary, description, parameters, responses, security }) => {
    return {
      params: { operationId },
      props: { endpoint, operation, tags, summary, description, parameters, responses, security },
    };
  });
}

const { summary, description } = Astro.props;
---
<html>
  <head>
    <title>{summary}</title>
  </head>
  <body>
    <h1>{summary}</h1>
    <p>{description}</p>
  </body>
</html>