---
import * as fs from 'fs';
import * as yaml from 'js-yaml';
import { Debug } from 'astro:components';
const fileContents = fs.readFileSync('/Users/kody/Desktop/test-api-docs/callous-chasm/schemas/test6.yml', 'utf8');
const yamlData = JSON.stringify(yaml.load(fileContents));


    let operationIds = [];


---


	<html>
		<h1>API test</h1>
    <p>{yamlData}</p>
		<ul>
			{operationIds.map((operationId) => (
			  <li><a href={operationId}>{operationId}</a></li>
			))}
		  </ul>
	</html>
  <Debug answer={yamlData} />